:root{
    --borderSize: 2px;
    --cursorColor: #777fa0;
    --blend: multiply;
}

div#cursor{
    position: fixed;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 25px;
    border-radius: 50%;
    border: var(--borderSize) solid var(--cursorColor);
    transition: width .1s, top .1s, left .1s, opacity .2s, background .3s;
    pointer-events: none;
    z-index: 100;
    mix-blend-mode: var(--blend);
}

div#cursorPoint{
    position: fixed;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 5px;
    border-radius: 50%;
    background: var(--cursorColor);
    pointer-events: none;
    transition: opacity .2s, width .3s, background .3s;
    z-index: 101;
    mix-blend-mode: var(--blend);
}

div#cursor.hover{
    background: var(--cursorColor);
    width: calc(25px + 35px);
    padding-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

div#cursorPoint.hover{
    opacity: 0;
}